<div class="orders-container" *ngIf="orders$ | async as orders">
    <h2 class="page-title">Comenzile Mele</h2>

    <div class="no-orders" *ngIf="orders.length === 0">
        <p>Nu ai nicio comanda momentan.</p>
    </div>

    <div class="orders-list" *ngFor="let order of orders">
        <div class="order-card">
            <div class="order-header">
                <div>
                    <h3>Comanda #{{ order.id }}</h3>
                    <p class="date">Plasata pe: {{ order.createdAt | date:'dd MMM yyyy, HH:mm' }}</p>
                </div>

                <div class="status" [ngClass]="order.status">
                    {{ order.status }}
                </div>
            </div>

            <div class="order-products">
                <div class="product" *ngFor="let p of order.products">
                    <img [src]="p.product.main_image_url" alt="img">
                    <div class="info">
                        <p class="name">{{ p.product.name }}</p>
                        <p class="qty">Cantitate: {{ p.quantity }}</p>
                    </div>
                    <p class="price">{{ p.product.price }} RON</p>
                </div>
            </div>

            <div class="order-footer">
                <p class="total">Total: <strong> RON</strong></p>
                <a [routerLink]="['/order', order.id]" class="details-btn">Detalii</a>
            </div>
        </div>
    </div>
</div>

