.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
  border-radius: 10px;
  margin: 15px 0;
  font-size: 15px;
  position: fixed;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  width: fit-content;
  max-width: 90%;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  max-width: 600px;
  margin-inline: auto;
  background-color: #ffffffe2;

  .notification-content {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 600px;
    width: fit-content;
  }

  .icon {
    font-size: 20px;
    display: flex;
    align-items: center;


  }

  &.success mat-icon {
    color: #4CAF50;
  }

  &.error mat-icon {
    color: #F44336;
  }

  &.info mat-icon {
    color: #FFC107;
  }

  &.warning mat-icon {
    color: #FF9800;
  }


  mat-icon {
    vertical-align: middle;
    margin-right: 8px;
  }

  .message {
    font-weight: 500;
    line-height: 1.3;
    color: black;
  }

  .close-btn {
    background: transparent;
    border: none;
    color: #5f5f5f;
    font-size: 20px;
    cursor: pointer;
    margin-left: 12px;
    transition: transform 0.2s;
  }

  .close-btn:hover {
    transform: scale(1.2);
  }




}

@media(max-width: 970px){
  .notification {
    top: 95px;
    width: calc(100% - 80px);   
    max-width: none;            
    border-radius: 12px;
    padding: 16px 20px;
    font-size: 16px;

    .notification-content {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    .message {
      font-size: 1rem;
      color: #1f1f1f;
    }

    .close-btn {
      font-size: 22px;
      margin-left: 0;
    }
  }
}