<!-- HERO -->
<section class="shop-hero">
    <div class="hero-bg">
        <img src="assets/images/naturaImg.jpg" alt="Fundal natural" />
        <div class="overlay"></div>
    </div>

    <div class="hero-content">
        <div class="brand-card">
            <img class="logo" src="assets/images/logoTerraBucovina.png" alt="Terra Bucovina" />
            <h1>Terra Bucovina</h1>
            <p class="motto">Natural. Simplu. Din Bucovina.</p>
        </div>
    </div>
</section>

<section class="products-row">
    <!-- <div class="row-header">
        <h2>Produse</h2>
    </div> -->

    <div class="scroll-container">
        <button class="arrow left" (click)="scrollRow('left')" aria-label="derulează stânga">
            <mat-icon>chevron_left</mat-icon>
        </button>

        <div class="scroll-wrapper" #scrollArea>
            <div *ngFor="let p of products">
                <app-product-card [product]="p"></app-product-card>
            </div>

        </div>

        <button class="arrow right" (click)="scrollRow('right')" aria-label="derulează dreapta">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</section>