
    .product-card {
        direction: ltr;
        flex: 0 0 auto;
        width: 220px;
        // height: 200px;
        border-radius: 14px;
        background: #ffffff;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
        scroll-snap-align: start;
        overflow: hidden;

        img {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }

        .info {
            padding: 0.75rem;

            .name {
                font-weight: 600;
                color: #2c3e50;
                margin-bottom: 0.25rem;
                font-size: 0.95rem;
            }

            .price {
                color: #5a6b7b;
                font-size: 0.9rem;
            }

            .buttons {
                display: flex;
                align-items: center;

                .favBtn {
                    mat-icon {
                        font-size: 25px;
                        // width: 22px;
                        // height: 22px;
                    }

                    background-color: #ffffff;
                    transition: background-color 0.25s ease,
                    transform 0.15s ease;
                    border: none;
                    color: #34495e61;

                    &:hover {

                        transform: translateY(-2px);
                    }
                }

                .addBtn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.4rem;
                    padding: 0.5rem 0.75rem;
                    background-color: #ffffff;
                    color: #34495e;
                    border: none;
                    margin: 0.7rem;
                    border-radius: 4rem;
                    font-size: 0.8rem;
                    font-weight: 500;
                    cursor: pointer;
                    transition: background-color 0.25s ease, transform 0.15s ease;

                    mat-icon {
                        font-size: 20px;
                        width: 20px;
                        height: 20px;
                    }

                    &:hover {
                        background-color: #aadfb670;
                        transform: translateY(-2px);
                    }

                    &:active {
                        transform: scale(0.96);
                    }
                }
            }

        }
    }