<div class="product-card">
  <div class="image-wrapper">
    <img (click)="goToDetail()" [src]="product.mainImageUrl" [alt]="product.name" />
  </div>

  <div class="info">
    <div class="name" (click)="goToDetail()">
      <a href="/details/{{product.id}}">{{ product.name }}</a>
    </div>

    <div (click)="goToDetail()" class="price">
      {{ product.price + " RON" }}
    </div>

    <div class="buttons">
      <button class="favBtn" (click)="toggleFavorite(product.id)" [class.active]="(isFavorite$ | async)"  >
        <mat-icon >favorite</mat-icon>
      </button>

      <button class="addBtn" (click)="addToCart()">
          <mat-icon >shopping_cart</mat-icon>
        Adaugă în coș
      </button>
    </div>
  </div>
</div>
