<div class="cart-dropdown">
  <header class="dropdown-header">
    <h3>Coș</h3>
    <button class="close-btn" (click)="closeCart()" aria-label="Închide">✕</button>
  </header>

 <div class="cart-items">
    <ng-container *ngIf="cartItem$ | async as items">
      <!-- Empty -->
      <div *ngIf="!items || items.length === 0" class="empty-cart">
        Coșul tău este gol. Adaugă produse pentru a continua!
      </div>

      <!-- List -->
      <div *ngIf="items && items.length > 0">
        <div
          class="cart-item"
          *ngFor="let item of items"
        >
          <!-- Imagine produs -->
          <img [src]="item.imageUrl" [alt]="item.name" class="thumb" />

          <!-- Informații produs -->
          <div class="info">
             <a href="/details/{{item.productId}}"> {{ item.name }} </a>
            <span class="price">{{ item.price.toFixed(1) }} RON</span>
          </div>

          <!-- Cantitate -->
          <div class="qty">
            <button class="qty-btn" (click)="decrease(item.productId)">-</button>
            <input type="text" [value]="item.quantity" readonly />
            <button class="qty-btn" (click)="increase(item.productId)">+</button>
          </div>

          <!-- Ștergere -->
          <button
            class="remove-btn"
            (click)="remove(item.productId)"
            aria-label="Șterge produsul"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>


  <footer class="cart-footer">
    <div class="total">
     <strong>Total:  {{ totalPrice$ | async | currency:'RON    '  :'symbol' }}</strong>
    </div>
    <div class="actions">
      <button class="btn ghost"  [routerLink]="'/cart'" (click)="closeCart()">Vezi coșul</button>
      <button class="btn primary" [routerLink]="'/purchase'" (click)="closeCart()" >Cumpără</button>
    </div>
  </footer>
</div>
