<div class="page-header">
  <h1>Plantele Medicinale din Bucovina</h1>

  <div class="page-text">
 <p>
    Cele 11 remedii Terapia Florală Bucovina sunt extrase florale din plante atent alese din ținutul Bucovinei.
</p>

<p>
    Mai jos vei descoperi plantele care stau la baza fiecărui remediu. Accesează
    fiecare plantă pentru a afla beneficiile, proprietățile și modul în care contribuie
    la armonizarea noastră.
  </p>
  </div>
</div>



<!-- <div class="plants-grid">

  <div class="plant-card" *ngFor="let plant of (plants$ | async)">

    <img [src]="getImageUrl(plant)" [alt]="plant.name" />

    <div class="overlay">
      <h3>{{ plant.name }}</h3>

      <button (click)="goToPlantDetails(plant.id)">
        Detalii
      </button>
    </div>

  </div>

</div> -->

