<div class="page-header">
  <h1>Remediile Florale Bach</h1>

  <div class="page-text">
    <p>
          Fiecare dintre cele 38 de remedii florale Bach descoperite de Dr. Bach este dedicat
      unei anumite trasaturi de personalitate sau stari emotionale. Pentru a alege
      remediile potrivite, gandeste-te la tipul de persoana care esti si la modul in care
      te simti in aceasta perioada.
    </p>

    <p>
          Pentru mai multe informatii despre fiecare dintre cele 38 de remedii din aceasta
      lista, acceseaza linkul corespunzator. De asemenea, te poate ajuta sa citesti mai
      intai cateva studii de caz, pentru a intelege mai bine cum functioneaza.
    </p>
  </div>
</div>



<div class="plants-grid">

  <div class="plant-card" *ngFor="let plant of (plants$ | async)">

    <img [src]="getImageUrl(plant)" [alt]="plant.name" />

    <div class="overlay">
      <h3>{{ plant.name }}</h3>

      <button (click)="goToPlantDetails(plant.id)">
        Detalii
      </button>
    </div>

  </div>

</div>

