.star-rating {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

}

.star {
  cursor: pointer;
  font-size: 30px;
  height: 4rem;
  width: 2rem;
  color: lightgray;
  &.filled {
    color: gold;
  }
 
}
