<section class="product-page" *ngIf="product$ | async as product">
  <a routerLink="/shop" class="back-link">← Înapoi la magazin</a>

  <div class="grid">
    <div class="gallery" *ngIf="images$ | async as images">

      <!-- IMAGINE PRINCIPALĂ -->
      <div class="main-image" *ngIf="images.length">
        <img [src]="environment + (selectedImage?.imageUrl || images[0].imageUrl)" [alt]="product.name" />
      </div>

      <!-- THUMBNAILS -->
      <div class="thumbs">
        <button class="thumb" *ngFor="let img of images" (click)="onThumbClick(img)"
          [class.is-active]="selectedImage?.id === img.id || (!selectedImage && img.isPrimary)">
          <img [src]="environment + img.imageUrl" [alt]="product.name" />
        </button>
      </div>

    </div>



    <!-- RIGHT: Info -->
    <div class="info">
      <h1 class="title">{{ product.name }}</h1>

      <div class="meta">
        <div class="rating">
          <span class="stars"> {{ avgStars$ | async | number:'1.1-1' }} ★</span>
          <span class="count"> ({{ count$| async }} recenzii)</span>
        </div>
        <!-- <div class="sku">
          <span class="muted">Cod:</span> TB-ACACIA-500
        </div> -->
        <div class="stock in" *ngIf="product.stockQty>0">În stoc</div>
        <div class="stock out" *ngIf="product.stockQty==0">Nu este in stoc </div>
      </div>

      <div class="price-line">
        <div class="price">{{ product.price * 0.19 + product.price || 59 }} RON</div>
        <div class="vat muted">TVA inclus</div>
      </div>

      <div class="short-desc">
        {{product.shortDesc}}
      </div>

      <div class="controls">
        <!-- <div class="qty">
          <button class="qty-btn">−</button>
          <input type="number" value="1" min="1" />
          <button class="qty-btn">＋</button>
        </div> -->

        <button (click)="addToCart()" class="btn primary">
          <mat-icon>shopping_cart</mat-icon>
          Adaugă în coș
        </button>

        <button (click)="toggleFavorite(product.id)" class="btn ghost">
          <mat-icon [class.active]="(isFavorite$ | async)" class="fav">favorite</mat-icon>
          Favorite
        </button>
      </div>

      <div class="extras">
        <div class="chip">🌿 Produs natural</div>
        <div class="chip">🇷🇴 Fabricat în România</div>
        <div class="chip">🚚 Livrare 24–48h</div>
      </div>

      <!-- <div class="share">
        <span class="muted">Distribuie:</span>
        <button class="icon-btn" aria-label="Share Facebook">f</button>
        <button class="icon-btn" aria-label="Share Instagram">ig</button>
        <button class="icon-btn" aria-label="Share Link">⤴︎</button>
      </div> -->
    </div>
  </div>

  <div class="tabs">
    <button class="tab" (click)="scrollTo('descriere')">Descriere</button>
    <button class="tab" (click)="scrollTo('recenzii')">Recenzii ({{ count$ | async }})</button>
    <button class="tab" (click)="scrollTo('specificatii')">Specificații</button>
  </div>


  <div class="tabs-content">
    <div class="card" id="descriere">
      <h3>Descriere</h3>
      <p class="text-line-display">
        {{product.longDesc}}
      </p>
      <ul class="bullets">
        <li>Ingrediente: 100% extract natural</li>
        <li>Conținut: 500 ml</li>
        <li>Ambalaj reciclabil</li>
      </ul>
    </div>


    <div class="card" *ngIf="product.ingredients">
      <h3>Ingrediente</h3>
      <p class="text-line-display">{{ product.ingredients }}</p>
    </div>




    <div class="card" *ngIf="product.scientificStudies">
      <h3>Știai că?</h3>
      <p class="text-line-display">{{ product.scientificStudies }}</p>
    </div>


    <div class="card" id="recenzii">
      <h3>Recenzii</h3>


      <ng-container *ngIf="reviews$ | async as reviews">

        <div class="reviews-grid" *ngIf="reviews.length > 0; else noReviews">
          <app-review-card *ngFor="let rev of reviews" [review]="rev" class="review-item">
          </app-review-card>
        </div>

        <ng-template #noReviews>
          <p>Nu există recenzii pentru acest produs încă.</p>
        </ng-template>

      </ng-container>


      <button class="review-btn" (click)="canUserReview(product.id)">
        Scrie o recenzie
      </button>
    </div>

    <div class="card" id="specificatii">
      <h3>Specificații</h3>
      <div class="specs">
        <div class="row"><span>Origine</span><strong>Bucovina</strong></div>
        <div class="row"><span>Greutate netă</span><strong>500 ml</strong></div>
        <div class="row"><span>Certificare</span><strong>BIO</strong></div>
        <div class="row"><span>Termen de valabilitate</span><strong>18 luni</strong></div>
      </div>
    </div>

    <div class="card" *ngIf="product.notification">
      <h3>Notificare</h3>
      <p class="text-line-display">{{ product.notification }}</p>
    </div>

  </div>



<div class="related" *ngIf="relatedProducts$ | async as related">
  <h3>Produse complementare</h3>

  <div class="rel-grid">
    <div *ngFor="let p of related" class="grid-item">
      <app-product-card [product]="p"></app-product-card>
    </div>
  </div>
</div>

</section>