<div class="add-product-container">
  <form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <h2>Adaugă Produs Nou</h2>

    <input type="text" id="name" name="name" placeholder="Nume produs" [(ngModel)]="product.name" required />

    <input type="number" step="1.0" id="price" name="price" placeholder="Preț" [(ngModel)]="product.price" required />

    <textarea id="shortDesc" name="shortDesc" placeholder="Descriere scurtă (max 500 caractere)"
      [(ngModel)]="product.shortDesc" maxlength="500" required></textarea>

    <textarea id="longDesc" name="longDesc" placeholder="Descriere detaliată (max 1000 caractere)"
      [(ngModel)]="product.longDesc" maxlength="1000" required></textarea>

    <input type="text" id="category" name="category" placeholder="Categorie" [(ngModel)]="product.category" required />

    <input type="number" id="stockQty" name="stockQty" aria-label="Cantitate în stoc" [(ngModel)]="product.stockQty"
      required />

    <!-- Upload multiple images section -->
    <div class="images-upload-section">
      <label class="image-label" for="images">Încarcă imagini (poţi adăuga mai multe)</label>
      <input type="file" id="images" #imageInput (change)="onImagesSelected($event)" multiple accept="image/*"
        style="display: none" />

      <!-- buton vizibil care declanșează click pe input -->
      <button type="button" class="custom-upload-btn" (click)="imageInput.click()">
        📎 Adaugă imagini
      </button>
    </div>

    <div class="images-preview" *ngIf="previewImages.length > 0">
      <div class="image-item" *ngFor="let img of previewImages; let i = index">
        <img [src]="img.url" [alt]="'Imagine ' + (i + 1)" />
        <div class="radio-holder">
          <label>
            <input type="radio" name="mainImageRadio" [value]="i" (change)="selectMainImage(i)"
              [checked]="selectedMainImageIndex === i" />
            Poză principală
          </label>
        </div>
        <button type="button" class="remove-btn" (click)="removeImage(i)">×</button>
      </div>
    </div>

    <button type="submit" [disabled]="!productForm.form.valid">
      Trimite
    </button>
  </form>

</div>