<div class="add-product-container">
  <form  #productForm="ngForm" (ngSubmit)="onSubmit()">
    <h2>{{ editMode ? 'Editează Produs' : 'Adaugă Produs Nou' }}</h2>

   
    <div class="form-group">
      <label for="name">Nume produs</label>
      <input type="text" id="name" name="name" [(ngModel)]="product.name" required />
    </div>

    <div class="form-group">
      <label for="price">Preț</label>
      <input type="number" step="0.1" id="price" name="price" [(ngModel)]="product.price" required />
    </div>


    <div class="form-group">
      <label for="shortDesc">Descriere scurtă (max 500 caractere)</label>
      <textarea id="shortDesc" name="shortDesc" [(ngModel)]="product.shortDesc" maxlength="500" required></textarea>
    </div>

   
    <div class="form-group">
      <label for="longDesc">Descriere detaliată (max 1000 caractere)</label>
      <textarea id="longDesc" name="longDesc" [(ngModel)]="product.longDesc" maxlength="1000" required></textarea>
    </div>

  
    <div class="form-group">
      <label for="notification">Notificare</label>
      <input type="text" id="notification" name="notification" [(ngModel)]="product.notification" maxlength="200" />
    </div>


    <div class="form-group">
      <label for="ingredients">Ingrediente</label>
      <textarea id="ingredients" name="ingredients" [(ngModel)]="product.ingredients" maxlength="200"></textarea>
    </div>


    <div class="form-group">
      <label for="scientificStudies">Studii Stintifice (max 2000 caractere)</label>
      <textarea id="scientificStudies" name="scientificStudies" [(ngModel)]="product.scientificStudies"
        maxlength="2000"></textarea>
    </div>

    <div class="form-group">
      <label for="category">Categorie</label>

      <select id="category" name="category" [(ngModel)]="product.categoryId" required>

        <option *ngFor="let c of categories" [ngValue]="c.id">
          {{ c.name }}
        </option>

      </select>

    </div>


    
    <div class="form-group">
      <label for="stockQty">Cantitate în stoc</label>
      <input type="number" id="stockQty" name="stockQty" [(ngModel)]="product.stockQty" required />
    </div>

    <div class="form-group images-upload-section">
      <label class="image-label" for="images">Încarcă imagini (poţi adăuga mai multe)</label>
      <input type="file" id="images" #imageInput (change)="onImagesSelected($event)" multiple accept="image/*"
        style="display: none" />
      <button type="button" class="custom-upload-btn" (click)="imageInput.click()">📎 Adaugă imagini</button>
    </div>

 
    <div class="images-preview" *ngIf="previewImages.length > 0">
      <div class="image-item" *ngFor="let img of previewImages; let i = index">
        <img [src]="img.url" [alt]="'Imagine ' + (i + 1)" />

        <div class="radio-holder">
          <label>
            <input type="radio" name="mainImageRadio" [value]="i" (change)="selectMainImage(i)"
              [checked]="selectedMainImageIndex === i" />
            Poză principală
          </label>
        </div>

        <button type="button" class="remove-btn" (click)="removeImage(i)">×</button>
      </div>
    </div>

    <button type="submit" [disabled]="!productForm.form.valid" >{{ editMode ? 'Salvează' : 'Trimite' }}</button>
  </form>
</div>
