<nav class="navbar">
  <div class="navbar__left">

    <span class="brand"><a class="link-brand" routerLink="shop">Terra Bucovina</a></span>
  </div>
  <ul class="navbar__links" *ngIf="!isLoggedIn">
    <li><a routerLink="about">Despre Terapia Florala Bucovina</a></li>
    <li><a routerLink="about">Remediile Florale</a></li>
    <li><a routerLink="shop">Magazin</a></li>
    <li><a routerLink="contact">Contact</a></li>
  </ul>

  <!-- Navbar pentru Admin -->
  <ul class="navbar__links" *ngIf="isAdmin">
    <li> <a href="#">Magazin</a></li>
    <li><a routerLink="admin/add-product">Adaugă produs</a></li>
    <li><a routerLink="/admin/add-plant">Adaugă plantă</a></li>
    <li><a routerLink="admin/see-all-orders">Comenzi</a></li>
    <li><a routerLink="/admin/messages">Mesaje</a></li>

  </ul>

  <!-- Dropdown pentru utilizatori logați (non-admin) -->
  <ul class="navbar__links" *ngIf="isUser && !isAdmin">
    <li class="dropdown">
      <a href="#">Contul Meu</a>
      <ul class="dropdown-content">
        <li><a routerLink="/user/orders">Vezi comenzi</a></li>
        <li><a routerLink="/user/account">Gestionare cont</a></li>
      </ul>
    </li>
    <li><a routerLink="about">Despre Terapia Florala Bucovina</a></li>
    <li><a routerLink="about">Remediile Florale</a></li>
    <li><a routerLink="shop">Magazin</a></li>
    <li><a routerLink="contact">Contact</a></li>
  </ul>

  <div class="navbar__right">
    <div class="navbar__right">
      <app-search-bar></app-search-bar>
    </div>


    <button class="favorite-btn" (click)="toggleFavorite()" matBadge="{{totalFavoriteItems$ | async }}"
      matBadgeColor="accent">
      <mat-icon class="icon">favorite</mat-icon>
    </button>

    <app-favorite-dropdown *ngIf="isFavoriteOpen" (closed)="isFavoriteOpen = false"></app-favorite-dropdown>

    <button class="cart-btn" (click)="toggleCart()" matBadge="{{totalCartItems$ | async }}" matBadgeColor="primary">
      <mat-icon class="icon">shopping_cart</mat-icon>
    </button>


    <app-cart-dropdown *ngIf="isCartOpen"></app-cart-dropdown>

    <button class="login-button"  *ngIf="!isLoggedIn" [routerLink]="'/login'">Log In</button>
        <button class="login-button"  *ngIf="isLoggedIn" (click)="logOut()">Log Out</button>
  </div>
</nav>