<div class="admin-orders">
    <h2>Toate comenzile</h2>

    <div *ngIf="(orders$ | async)?.length === 0" class="empty-message">
        Nu există comenzi de afișat.
    </div>

    <div class="order-card" class="order-card" *ngFor="let order of (orders$ | async)">
        <div class="order-header">
            <div>
                <strong>ID:</strong> {{ order.id }}
            </div>
            <div>
                <strong>Client:</strong> {{ order.fullName }}
            </div>
            <div>
                <strong>Data:</strong> {{ order.createdAt | date:'short' }}
            </div>
        </div>

        <div class="order-status">
            <label for="statusSelect-{{order.id}}">Status:</label>
            <select [ngModel]="order.status" (ngModelChange)="onStatusChange(order, $event)">
                <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
            </select>
            <!-- <button (click)="updateStatus(order)">Actualizează</button> -->
        </div>

        <div class="order-status-label" [ngClass]="'status-'+order.status">
            {{ order.status }}
        </div>
    </div>
</div>