// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  --navbar-bg: #f8f9fa;
  --navbar-text: #34495e;
  --navbar-hover: #7cbf8a;
  --btn-accent: #a8d5ba;
  --search-bg: #f0f0f0;
  --icon-color: #2c3e50;
}

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}


html, body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

// input, 
// button, 
// textarea, 
// select {
//   -webkit-appearance: none; /* Chrome, Safari, Opera */
//   -moz-appearance: none;    /* Firefox */
//   appearance: none;         /* Standard */
//   border-radius: 0;         /* Safari pune default border-radius */
//   font-family: inherit;     /* Păstrează fontul aplicației */
// }


// * {
//   -webkit-tap-highlight-color: transparent;
// }


// [role="button"],
// button,
// a,
// .clickable,
// mat-expansion-panel-header { /* Specific pentru acordeonul Material */
//   cursor: pointer;
// }


body {
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
