// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  --navbar-bg: #f8f9fa;
  --navbar-text: #34495e;
  --navbar-hover: #7cbf8a;
  --btn-accent: #a8d5ba;
  --search-bg: #f0f0f0;
  --icon-color: #2c3e50;
}

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}


html,
body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
}

/
*,
*::before,
*::after {
  box-sizing: border-box;
}