.footer {
    background-color: #f8f9fa;
    color: #34495e;
    padding: 2rem 1.5rem;
    font-family: 'Poppins', sans-serif;
    border-top: 1px solid #e0e0e0;

    .footer__top {
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        gap: 1rem;

        .brand {
            font-size: 1.3rem;
            font-weight: 600;
        }

        .footer__links {
            display: flex;
            flex-direction: column;
            align-items: left;
            text-align: left;
            gap: 1rem;
            list-style: none;
            padding: 0;
            margin: 0;

            li a {
                text-decoration: none;
                color: #34495e;
                font-weight: 500;
                transition: color 0.2s ease;

                &:hover {
                    color: #7cbf8a;
                }
            }
        }

        
    }

    &__bottom {
        .footer__socials {
          
            gap : 3rem;

            a {
                color: #34495e;
                font-size: 22px;

                &:hover {
                    color: #7cbf8a;
                }
            }
        }
        margin-right: 1rem;
        text-align: center;
        font-size: 0.85rem;
        color: #777;
    }
}