<footer class="footer">
    <div class="footer__top">
        <span class="brand">Terra Bucovina</span>
        <!-- <ul class="footer__links">
            <li><a href="#">Politica de confidențialitate</a></li>

            <li><a href="#">Termeni și condiții</a></li>

            <li><a href="#">Ajutor</a></li>
        </ul> -->

    </div>

    <div class="footer__bottom">
        <div class="footer__socials">
            <a href="#"><mat-icon>facebook</mat-icon></a>
            <a href="#"><mat-icon>email</mat-icon></a>
        </div>
        <p>© {{ currentYear }} Terra Bucovina. Toate drepturile rezervate.</p>
    </div>
</footer>