<div class="review-card">
  <div class="review-header">
    <img 
      src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"
      [alt]="user?.username" 
      class="avatar" 
    />
    <div class="review-info">
      <h4 class="name">{{ user?.username }}</h4>
      <div class="rating">
        <span>{{ review.stars }}</span>
        <div class="stars">
          <ng-container *ngFor="let star of getStarsArray(review.stars); let i = index">
              <span [class.filled]="isStarFilled(i, review.stars)">★</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="review-body">
    <p class="review-text" [class.expanded]="isExpanded">
      {{ review.body }}
    </p>
    <button class="toggle-btn" *ngIf="isTextLong" (click)="toggleText()">
      {{ isExpanded ? 'Vezi mai puțin' : 'Vezi mai mult' }}
    </button>
  </div>
</div>