.review-card {
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  flex: 0 0 320px;
  width: 300px;
  height: 200px; 

  display: flex;
  flex-direction: column;
  justify-content: space-between;
   overflow: hidden;    

  &:hover {
    transform: translateY(-2px);
  }

  .review-header {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 1px;
    flex: 0 0 auto;  

    .avatar {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #e6e6e6;
    }

    .review-info {
      display: flex;
      flex-direction: column;

      .name {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 600;
      }

      .review-date {
        font-size: 0.8rem;
        color: #6b7280; // gri discret
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
          font-weight: 600;
          font-size: 1rem;
        }

        .stars {
          display: flex;
          gap: 2px;

          span {
            font-size: 1.2rem;
            color: #d3d3d3;

            &.filled {
              color: #ffcc00;
            }
          }
        }
      }
    }
  }

  .review-body {
     flex: 1 1 auto;   
    min-height: 0;      
    display: flex; 
    overflow: hidden;

    .review-text {
      font-size: 0.95rem;
      line-height: 1.45;
      color: #101010;
      min-height: 0;     
      padding-right: 12px; 
      max-height: 75px;
      overflow-y: auto;
      overflow-x: hidden;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;

      // scrollbar personalizat
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #c5c5c5;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-track {
        background: #f0f0f0;
      }
    }

    .toggle-btn {
      background: none;
      border: none;
      color: #2764ff;
      font-size: 0.85rem;
      cursor: pointer;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 600px) {

  .review-card {
    box-sizing: border-box;

    width: 100%;
    flex: 0 0 100%;
    height: 200px;   
    flex: 0 0 88vw;
    min-height: 170px;
    min-height: 200px;
    padding: 1rem;

    overflow: visible; 
  }

  .review-body {
    .review-text {
      box-sizing: border-box;

      max-height: none;
      overflow: visible;

      font-size: 0.95rem;
      line-height: 1.45;

      padding-right: 0; 
      margin-right: 0;

      white-space: normal;
      word-break: normal;
      overflow-wrap: break-word;
    }
  }
}
